#headcontainer {
	background-image: url(pastels-light.jpg) !important;
}
#maincontent h2 {
	padding-top:15px;
}
#normal, #big, #ui {
	border: 1px solid #CCC;
	float: right;
	padding: 1em;
	text-align: center;
	width: 460px;
}
#uibox {
	border: 2px solid grey;
	display: block;
	margin: auto;
	padding: 2px;
}
#ui {
	padding:5px 0 10px 0;
	margin-bottom:20px;
}
#ui::first-letter {
	font-weight: bold;
	font-size: 1.5em;
}
#normal a, #big a {
	text-decoration: none;
}
#normal a:hover,
#normal a:focus,
#big a:hover,
#big a:focus {
	text-decoration: underline;
}
#big {
	font-size: 14pt;
	font-weight: bold;
}

#ratioContainer {
	padding-top: .6em;
	text-align: center;
}
#ratio,
#textBackRatio,
#linkTextRatio,
#linkBackRatio {
	display: block;
	font-size: 3em;
}
#textBackRatio,
#linkTextRatio,
#linkBackRatio {
	display: inline-block;
	min-width: 4em;
}
#ratioContainer > span {
	border: 1px solid #CCC;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: 6px;
	padding: 10px;
	min-width: 7em;
}
#textBackRatioContainer > span,
#linkTextRatioContainer > span,
#linkBackRatioContainer > span {
	border: 1px solid #CCC;
	border-radius: 6px;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
}
#ratioContainer.pass > span,
#textBackRatioContainer.pass > span,
#linkTextRatioContainer.pass > span,
#linkBackRatioContainer.pass > span {
	border: 3px solid #080;
	padding: 8px;
}
#permalink {
	display: block;
	border:none;
}
#contrastForm {
	text-align: center;
}
#contrastForm fieldset {
	border: 1px solid #CCC;
	border-radius: 8px;
	display: inline-block;
	margin: 0 .5em;
	padding: 10px;
	text-align: center;
	width: 42%;
}
.lig {
	width: 100%;
}
.gradient {
	border-radius: 22px;
	padding: 3px 16px 6px;
}
#contrastForm input {
	border: 1px solid #888;
	border-radius: 3px;
	color: #333;
	font: 100% 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#contrastForm label {
	display: inline-block;
	margin-top: .7em;
	vertical-align: top;
}
#contrastForm input[type="text"] {
	padding: 0 4px;
	text-transform: uppercase;
	vertical-align: top;
	font-size: 1.5em;
}
#contrastForm input[type="color"] {
	cursor: pointer;
	display: block;
	height: 34px;
	padding: 0;
	width: 206px;
}
#contrastForm input[type="range"] {
	accent-color: #EEE;
	-webkit-appearance: none;
	margin-right: 15px;
	width: 100%;
	height: 8px;
	background: #FFF8;
	border-radius: 5px;
}
#contrastForm input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 10px;
	border-radius: 3px;
	background: #EEE;
	cursor: ew-resize;
	border: 2px solid #555;
	transition: background .3s ease-in-out;
}
#contrastForm input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 8px;
	border-radius: 3px;
	background: #EEE;
	cursor: ew-resize;
	border: 2px solid #555;
	transition: background .3s ease-in-out;
}
input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
input[type=range]::-moz-range-trackk  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
#Alpha1 {
	display: block;
	min-height: 32px;
	width: 60px;
	padding-left:4px;
}
#Hex1 {
	width: 5.8em;
}
#Hex0 {
	width: 4.3em;
}
#Err0, #Err1 {
	display: none;
}
.results {
	float: left;
}
.results p {
	padding-bottom: 2px;
}
.results span {
	float: right;
	font-weight: bold;
	margin: 0 0.5em;
	padding: 0 0.5em;
	text-align: center;
	transition: all .2s;
	width: 2.2em;
}	
span.pass {
	background-color: #080;
	border-radius: 1em;
	color: #FFF;
}
span.fail {
	color: #C00;
}
h2 {
	clear: both;
}
legend {
	font-weight: bold;
	margin-bottom: -.5em;
}
hr {
	color: transparent;
}

/*** Responsive ***/
@media only screen and (max-width: 670px) {
	#contrastForm fieldset {
		margin: 0;
		width: 93%;
	}
	#normal, #big, #ui {
		width: 90%;
	}